{% extends "catalog/base.html" %}
{% load static %}


{% block title %}   
 <title>О нас</title>
{% endblock title %}

{% block text %}
<div id="text">
  <h2>О нас</h2>
  <br>
  <p>Минский Музей Исскуств и Культуры - это уникальное место, расположенное в самом сердце Минска, 
    которое приглашает вас на захватывающее путешествие в историю и культурное наследие Беларуси.
  </p>
  <br>
  <img class="about-img" src={% static "img/about/museum_1.jpg" %}>
  <br>
  <br>
  <p>
  Наш музей был основан в 1985 году группой энтузиастов, которые стремились сохранить и 
  передать будущим поколениям богатство и разнообразие белорусской культуры. 
  С тех пор Минский Музей Исскуств и Культуры стал неотъемлемой частью культурной сцены Минска, 
  привлекая тысячи посетителей из разных уголков мира.
  </p>
  <br>
  <p>
  Мы гордимся тем, что предлагаем уникальные выставки, посвященные истории, 
  искусству и культуре Беларуси. Наша коллекция включает в себя драгоценные 
  артефакты, произведения искусства, а также интерактивные экспозиции, которые 
  позволяют посетителям погрузиться в прошлое и ощутить атмосферу того времени.
  </p>  
  <br>
  <img class="about-img" src={% static "img/about/museum_2.jpg" %}>
  <br>
  <br>
  <p>
  Мы стремимся создать уникальный опыт для каждого посетителя, предлагая 
  разнообразные программы и мероприятия, такие как мастер-классы, лекции и
  специальные выставки. В нашем музее каждый найдет что-то интересное для себя, 
  будь то исторический энтузиаст, любитель искусства или просто любопытный путешественник.
  </p>
  <br>
  <p>
  Минский Музей Исскуств и Культуры является не только хранителем культурного наследия Беларуси, 
  но и активным участником его развития. Мы поддерживаем и сотрудничаем с
  местными художниками, архитекторами и исследователями, чтобы продолжать 
  расширять нашу коллекцию и предлагать новые и увлекательные выставки.
  </p>
  <br>
  <img class="about-img" src={% static "img/about/museum_3.jpg" %}>
  <br>
  <br>
  <p>
  Мы приглашаем вас посетить Минский Музей Исскуств и Культуры и открыть для себя богатство и 
  красоту белорусской культуры. Добро пожаловать в увлекательное путешествие
  в прошлое и насладитесь неповторимым опытом, который оставит в вас незабываемые впечатления.
  </p>
  <br>
  <p>
  Спасибо за ваш интерес к нашему музею!
  </p>
  <br>
</div>
{% endblock text %}