{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block text %}
<div id='text'>
    <strong class='text-bold'>
        О магазине
    </strong>
    <br><br>
    <p>
        В третьем корпусе нашего музея работает магазин, в котором
        представлены сувениры нашего музея и печатная продукция.
    </p>
    <strong class='text-bold'>
        Здесь можно купить:
    </strong>
    <br>
    <br>
    <p>
        картины молодых белорусских художников, выполненых в различных
        стилях рисования: готика, ренессанс, барокко, импрессионизм,
        экспрессионизм, абстракционизм и т.д.
    </p>
    <p>
        сувениры о Минске;
    </p>
    <p>
        эксклюзивные музейные сувениры: косынки с орнаментом, оригинальные значки и т.п.
    </p>
    <p>
        печатную продукцию: книги белорусских авторов, детские книги, подарочные издания по исскуству и истории города.
    </p>
</div>
</div>
<br>
<br>


{% endblock text %}